$bg: #ffffff;
$code-bg: #f5f5f5;
$code-border: #dbdbdb;
$code-fg: #404040;
$code-inline-fg: #c00000;
$fg: #000000;
$input: #00bfff;
$output: #ff9900;
$td-row: #f0f7ff;
$tertiary: #0088ff;

/*
$bg: #000000;
$code-bg: #242424;
$code-border: #404040;
$code-fg: #d0d0d0;
$code-inline-fg: #ffbbbb;
$fg: #ffffff;
$input: #00bfff;
$output: #ff9900;
$td-row: #212121;
$tertiary: #0088ff;
*/
