@font-face {
    font-family: 'Roboto Mono';
    font-weight: 400;
    src: url('../../fonts/roboto-mono/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Mono';
    font-weight: 700;
    src: url('../../fonts/roboto-mono/RobotoMono-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Mono';
    font-weight: 400;
    src: url('../../fonts/ubuntu-mono/UbuntuMono-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: var(--theme-link);
    font-weight: bold;
}

body {
    background-color: var(--theme-bg);
    color: var(--theme-fg);
    font: 15px 'Roboto Mono';
}

body, header > nav {
    margin: auto;
    max-width: 1000px;
}

header {
    background-color: var(--theme-bg);
    border-bottom: solid 3px var(--theme-tertiary);
    font-family: 'Ubuntu Mono';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* Increase the depth so that it doesn't overlay onto other elements. */
    z-index: 42;
}

header > nav {
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    position: sticky;
    top: 0;

    /* Set the `z-index` sufficiently large to prevent it from overlaying with other elements. */
    z-index: 42;

    .user-avatar {
        height: 30px;
        margin-right: 8px;
        width: 30px;
    }

    a {
        color: var(--theme-fg);
        display: flex;
        font-size: 18px;
        padding: 16px 20px;
        text-decoration: none;
        align-items: center;
        transition: .3s;

        &:hover {
            color: var(--theme-tertiary);
        }
    }

    .nav-link {
        &--active {
            color: var(--theme-tertiary);
        }
    }

    i {
        padding: 0 8px;
    }

    .login-icon {
        font-size: 28px;
    }

    .nav-bar-left, .nav-bar-right {
        display: flex;
    }
}

main {
    margin: 100px 10px 50px 10px;
}

table {
    border: solid 2px var(--theme-fg);
    border-spacing: 0;
    border-radius: 10px;
    color: var(--theme-fg);
    overflow: hidden;

    td {
        border-top: solid 1px var(--theme-fg);
    }

    td:not(:first-child), th:not(:first-child) {
        border-left: solid 1px var(--theme-fg);
    }
}

.ruled-header {
    border-bottom: 1px solid var(--theme-fg);
    content: ' ';
    display: block;
    margin: 20px 0;
    padding-bottom: 5px;
}

.status-box {
    color: var(--theme-fg);
    border-radius: 8px;
    font-weight: bold;
    padding: 1px 8px;
}

.status-AC { background-color: var(--theme-AC); }
.status-WA { background-color: var(--theme-WA); }
.status-MLE { background-color: var(--theme-MLE); }
.status-TLE { background-color: var(--theme-TLE); }
.status-NZE { background-color: var(--theme-NZE); }
.status-RE { background-color: var(--theme-RE); }
.status-CE { background-color: var(--theme-CE); }
.status-IE { background-color: var(--theme-IE); }
.status-J { background-color: var(--theme-J); }
.status-Q { background-color: var(--theme-Q); }
