.pset-table {
    font-size: 15px;
    margin: 5px auto;
    width: 100%;

    td, th {
        padding: 8px 20px;
    }

    tr:nth-child(even) > td { background-color: var(--theme-table-row1); }
    tr:nth-child(odd) > td { background-color: var(--theme-table-row2); }

    .diff-bar-container {
        border-radius: 5px;
        background-color: var(--theme-diff-bg);
        height: 14px;
        overflow: hidden;
        position: relative;
        text-align: left;
        width: 100px;
    }

    .diff-bar {
        height: 100%;
        width: 50%;
        position: absolute;
    }

    .pset-name {
        text-align: left;
        font-size: 15px;
        width: 100%;

        a {
            color: var(--theme-fg);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .pset-solves {
        text-align: center;
        font-size: 14px;
        white-space: nowrap;
    }
}
