@use 'theme';

@font-face {
    font-family: 'Ubuntu';
    font-weight: 400;
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu Mono';
    font-weight: 400;
    src: url('../fonts/ubuntu-mono/UbuntuMono-Regular.ttf') format('truetype');
}

@mixin ruled-header {
    border-bottom: 1px solid theme.$fg;
    content: ' ';
    display: block;
    margin: 1.5rem 0 1rem;
    padding-bottom: .2em;
}

.problem-header {
    @include ruled-header;

    margin-bottom: 1.5rem;
    position: relative;

    &__title {
        text-align: center;
    }

    &__limits {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.martor {
    code {
        color: theme.$code-inline-fg;
        font-family: 'Ubuntu Mono';
        margin: .2rem;
    }

    h1, h2 {
        @include ruled-header;
        font-family: 'Ubuntu';
    }

    ul {
        list-style-position: inside;
    }

    .sample {
        display: flex;
        justify-content: space-around;

        &__box {
            background-color: theme.$code-bg;
            border: 1px solid theme.$code-border;
            border-radius: 3px;
            flex-grow: 1;
            margin: 1rem;
            padding: .5em;

            &--input {
                border-left: 3px solid theme.$input;

                > .sample__header {
                    border-bottom: 1px solid theme.$input;
                }

                &:hover {
                    background-color: mix(theme.$code-bg, theme.$input, 90%);
                }
            }

            &--output {
                border-left: 3px solid theme.$output;

                > .sample__header {
                    border-bottom: 1px solid theme.$output;
                }

                &:hover {
                    background-color: mix(theme.$code-bg, theme.$output, 90%);
                }
            }
        }

        &__content {
            color: theme.$code-fg;
            font-family: 'Ubuntu Mono';
        }

        &__copy {
            align-items: center;
            display: inline-flex;
            float: right;
            margin-left: auto;
        }

        &__copy-msg {
            color: theme.$fg;
            font-size: .8rem;
            margin: 0 .5rem;
            opacity: 0;
        }

        &__header {
            display: flex;
            margin-bottom: .5rem;
            padding-bottom: .5rem;
        }

        &__copy-icon {
            fill: theme.$fg;
            height: 1rem;
            width: 1rem;

            &:hover {
                cursor: pointer;
            }
        }

        &__title {
            color: theme.$fg;
            font-family: 'Ubuntu';
            font-weight: 600;
        }
    }
}
