:root {
    --theme-bg: #222;
    --theme-fg: #fff;
    --theme-tertiary: #71c6ff;

    --theme-border1: #333;
    --theme-border2: #555;

    --theme-sample1: #00bfff;
    --theme-sample2: #ff9900;

    --theme-table-row1: #222;
    --theme-table-row2: #2a2a2a;

    --theme-editor: #272727;

    --theme-AC: #2eb04b;
    --theme-WA: #ea1818;
    --theme-MLE: #942eb0;
    --theme-TLE: #728d8f;
    --theme-NZE: #b78e5a;
    --theme-RE: #ee9524;
    --theme-CE: #533d3d;
    --theme-IE: #6e0000;
    --theme-J: #000;
    --theme-Q: #000;

    --theme-code-inline: #fbb;
    --theme-diff-bg: #2a2a2a;
    --theme-link: #71c6ff;
}
