{% load static %}
{% load socialaccount %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <title>{% block title %}{% endblock %} | {{ SITE_NAME }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'dist/css/base.css' %}">
        <link rel="stylesheet" href="{% static 'dist/css/theme.css' %}">
        {% block css %}{% endblock %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="{% static 'dist/js/base.js' %}" defer></script>
        {% block js %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-bar-left">
                    <a class="nav-link" href="/">
                        <i class="fa-solid fa-house"></i>
                        Home
                    </a>
                    <a class="nav-link" href="/problemsets/">
                        <i class="fa-solid fa-book"></i>
                        Problemsets
                    </a>
                    <a class="nav-link" href="/users/">
                        <i class="fa-solid fa-user"></i>
                        Users
                    </a>
                </div>
                <div class="nav-bar-right">
                    <a class="nav-link" href="/about/">
                        <i class="fa-solid fa-circle-info"></i>
                        About
                    </a>
                    {% if user.is_authenticated %}
                    <a class="nav-link" href="/profile/{{ user }}">
                        <img class="user-avatar" src="//avatars.githubusercontent.com/{{ user }}">
                        {{ user }}
                    </a>
                    <a class="login-icon" href="{% url 'account_logout' %}">
                        <i class="fa-solid fa-right-from-bracket login-icon"></i>
                    </a>
                    {% else %}
                    <a href="{% provider_login_url 'github' %}">
                        <i class="fa-solid fa-right-to-bracket login-icon"></i>
                    </a>
                    {% endif %}
                </div>
            </nav>
        </header>
        <main>
        {% block content %}{% endblock %}
        </main>
    </body>
</html>
