{% extends "base.html" %}

{% load static %}
{% load humanize %}

{% block title %}Users{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'dist/css/users.css' %}">
{% endblock %}

{% block content %}
<h1 class="ruled-header">All Users</h1>
<table class="user-table">
    <thead>
        <th class="user-rank">#</th>
        <th class="user-name">User</th>
        <th class="user-solves">Solved</th>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td class="user-rank">{{ forloop.counter|ordinal }}</td>
            <td class="user-name">
                <a href="/profile/{{ user }}">{{ user }}</a>
            </td>
            <td class="user-solves">{{ user.num_problems_solved }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
